*


!.config
!.config/kitty
!.config/kitty/kitty.conf
!.config/kitty/default.conf
!.config/kitty/current-theme.conf
!.vim
!.vim/autoload
!.vim/autoload/plug.vim
!.zshrc
!.gitignore_global
!.gitignore
!.vimrc
!.gitconfig
!.README.md
!.zsh
!.zsh/env
!.zsh/prompt
!.zsh/aliases
