[user]
    name = Teerapap Changwichukarn
    email = teerapap.c@gmail.com
[alias]
    dm = daemon --base-path=./ --export-all
    lg = log --graph --color --decorate
    lgo = log --graph --color --decorate --oneline
    st = status -s
    dc = diff --cached
    dw = diff --color-words
    dcw = diff --cached --color-words
    co = checkout
    chekcout = checkout
    rs = remote show
    rest = reset
    rb = rebase
    rbc = rebase --continue
    rba = rebase --abort
    stl = stash list
    sts = stash show
    s = status
    ts = status
    its = status
    c = commit
    cm = commit
    bnm = branch -a --no-merged
    bm = branch -a --merged
    count = shortlog --numbered --summary
    cp = cherry-pick
    fix = "!vim `git diff --name-only --diff-filter=U`"
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[include]
    path = ~/.gitconfig.local
[credential]
    helper = osxkeychain
[pull]
    rebase = false
